## Python Requirments

## Django
Django                                  # https://github.com/django/django
djangorestframework                     # https://github.com/encode/django-rest-framework
django-extensions                       # https://github.com/django-extensions/django-extensions
Werkzeug                                # https://github.com/pallets/werkzeug
django-environ                          # https://github.com/joke2k/django-environ
psycopg2                                # https://github.com/psycopg/psycopg2/

# Webserver & Static files
django-hosts                            # https://github.com/jazzband/django-hosts
gunicorn                                # https://github.com/benoitc/gunicorn
whitenoise[brotli]                      # https://github.com/evansd/whitenoise
django-cra-helper                       # https://github.com/MasterKale/django-cra-helper
